@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-sesi-blue: #ea580c;
  --color-sesi-green: #f97316;
  
  --color-pedagogic-blue: #f97316;
  --color-pedagogic-teal: #f59e0b;
  --color-pedagogic-amber: #ea580c;
  --color-pedagogic-rose: #f43f5e;
  --color-pedagogic-cream: #fff7ed;
  
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#f8fafc] text-slate-900 antialiased font-sans;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full hover:bg-slate-300 transition-colors;
  }
}
